{% extends 'base.html.twig' %}

{% block title %}Quack index{% endblock %}

{% block body %}
    {% for message in app.flashes('edited') %}
        <div class="container m-4 alert alert-warning">
            <h1>{{ message }}</h1>
        </div>
    {% endfor %}

    {% for message in app.flashes('deleted') %}
        <div class="container m-4 alert alert-danger">
            <h1>{{ message }}</h1>
        </div>
    {% endfor %}

    {% for message in app.flashes('created') %}
        <div class="container m-4 alert alert-success">
            <h1>{{ message }}</h1>
        </div>
    {% endfor %}

    {% for quack in quacks %}
        <div class="card bg-secondary border-success w-75 mx-auto my-4 ">

            <div class="m-2 mx-4">
                <h5>By : <strong>{{ quack.user.duckName }}</strong></h5>
            </div>
            <div class="jumbotron m-3">
                <h5>{{ quack.content }}</h5>
            </div>
            <div class="m-2 mx-4">Created on {{ quack.createdAt|date('d/m/Y') }} at {{ quack.createdAt|date('H:i:s') }}</div>
            <div class="m-4">
                <a class="btn btn-info mr-2" href="{{ path('quack_show', {'id': quack.id}) }}">Show</a>
                <a class="btn btn-warning" href="{{ path('quack_edit', {'id': quack.id}) }}">Edit</a>
            </div>
        </div>

    {% else %}
        <div class="card bg-secondary border-danger w-75 mx-auto my-4">No records found...</div>
    {% endfor %}


{% endblock %}
