{% extends 'base.html.twig' %}

{% block title %}New Duck{% endblock %}

{% block body %}
<div class="m-4 mx-4 card border-success">
    <h1 class="m-4">Register</h1>
    {{ form_start(form) }}
    <div class="my-4 mx-4">
        {{ form_widget(form) }}
    </div>
<div>
    <button class="m-4 btn btn-success">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}
    <a class="my-4 btn btn-info" href="{{ path('user_index') }}">Back to list</a>
</div>
</div>

{% endblock %}
